@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Josefin+Sans:wght@400;600&display=swap');

* ::after {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* vietnamese
@font-face {
  font-family: 'Josefin Sans';
  src: url(../Font/JosefinSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* latin-ext */
/* @font-face {
  font-family: 'Josefin Sans';
  src: url(../Font/JosefinSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "Josefin Sans";
  src: url(../Font/JosefinSans-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
} */

/* @font-face {
  font-family: "Josefin Sans";
  src: url(../Font/JosefinSans-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "Josefin Sans";
  src: url(../Font/JosefinSans-Medium.ttf) format("truetype");
  font-weight: medium;
  font-style: normal;
} */ */


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --blue: #5956e9;
  --black: #232233;
  --gray: #6c6c72;
  font-family: "Josefin Sans";
  font-size: 62.5%;
}

a[href^="mailto:"] {
  line-height: 32px;
  color: #000000;
}

ul {
  list-style: none;
  text-align: start;
}

button {
  border: none;
  background: none;
}

nav {
  display: inline-flex;
}

.h2 {
  color: var(--blue);
  margin: 30px 41px 18px 18px;
  font-size:2rem;
}

a {
  text-decoration: none;
}

.dColor {
  background-color: var(--blue);
}

.download__list {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.download__list li {
  width: 96px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__list-p {
  width: 96px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.download_color {
  color: white;
}

.position_section_1 {
  padding-top: 118px;
  background: url(/images/BackgroundImage.png); 
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.7rem;
  font-weight: 500;
}

.posittion_header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 3px 3px 3px 9px;
  border-radius: 3px;
}

.header {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background: var(--blue);
  padding-top: 30px;
  padding-bottom: 30px;
}

.a_position {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  background: var(--White, #FFF);
  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 24px 10px;

}

.link {
  padding: 12px 6px;
  background-color: var(--blue);
  color: white;
  border-radius: 3px;
}


.burger_menu_button {
  height: 24px;
}

.square_hero {
  background-color: white;
  padding: 30px 12px 20px 18px;
  margin-right: 36px;
  margin-left: 16px;
  max-width: 400px;
  margin-bottom: 60px;
}

.p_pos {
  margin: 18px 12px 10px 18px;
  font-weight: 100;
}

.download_button {
  margin: 30px 74px 19px 18px;
  font-weight: 700;
}


.MobileAppMockup {
  width: 268px;
  margin-left: 55px;
  margin-right: 55px;
}

.h2_2pos {
  padding-top: 60px;
  text-align: center;
  font-size: 2rem;
}

.p_on_top_sec2{
  margin: 18px 31px 40px 31px;
  text-align: center;
  
}

.appdesign_position {
  padding-left: 53px;
  padding-right: 52px;
}

.section_2_ul {
  background-color: whitesmoke;
  padding: 18px 16px 10px 19px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;

}

.section_2_ul::before {
  content: url("/images/checkbox.svg");
  position: absolute;
  padding-top: 18px;

}

.section_2_ul_2::before {
  content: url("/images/checkbox.svg");
  position: absolute;
  padding-top: 18px;
}


.li_p_pos {
  padding: 18px 20px 3px 61px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
}

.li_p_2_pos {
  padding: 3px 16px 10px 61px;
  text-align: left;
  font-size: 1.7rem;
}

.section_2_ul_2 {
  background-color: whitesmoke;
  padding: 18px 16px 10px 19px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 10px;
  margin-top: 18px;
  margin-bottom: 96px;
  position: relative;
}


.position_section_2 {
  background: url(/images/Rectangle23.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.h2_sec_2_pos {
  text-align: center;
  font-size: 2rem;
  padding-top: 60px;
  color: white;
}

.section_2_p_pos {
  margin: 18px 37px 32px 37px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 0;
  color: white;
}

.img_pos_section3 {
  margin-left: auto;
  margin-right: auto;
}

.position_h3_section_3 {
  margin: 30px 101px 18px 103px;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.img_app_pos_section3 {
  padding: 60px 80px 120px 80px;
}

.ul_pos_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.h2_pos_section_4{
  margin: 103px 71px 18px 16px;
  font-size: 3rem;
  text-align: left;
  font-weight: 100;
}

.position_p_sec_3{
  margin: 18px 30px 41px 10px;
  color: gray;
}

.graviti_phone_pos{
  padding-top: 60px;
  padding-bottom: 77px;
}

.section_pos_4{
  background-color: #5851EA;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
}


.div_wrapper{
 justify-content: center;
}

.position_ul_section3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul_pos_2{
  display: flex;
  flex-direction: column;

}

.p_configurate_section_6 {
  color: white;
  margin: 40px 37px 40px 37px;
  font-weight: 100;
  text-align: center;
  font-size: 1.6rem;
}

.about {
  width: 100%;
}

.h2_pos_section_5 {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  position: relative;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

.conf_p_section_l {
  display: none;
  color: white;
}

.slider {
  display: flex;
  margin-bottom: 40px;
}

.slider_wrapper{
  max-width: 343px;
  background-color: var(--White);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 18px 20px 9px;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
}

.slider .our_happy_customers__slider--img-pc {
  display: none;
}

.our_happy_customers__slider--img{
  display: none;
}

.color_h3_section_l{
  color: var(--black);
}

.color_gray {
  color: var(--gray);
}

.slider.first,
.slider.second {
    left: 20px;
}

.color_black {
  color: var(--black);
}

.our_happy_customers__slider_buttons{
  padding-bottom: 60px;

}

.slider img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.slider h3 {
  margin: 0 auto;
}

.slider p {
  margin: 0 auto;
  max-width: 316px;
  text-align: center;
  margin-top: 18px;
}

.slider:not(.slider.main) {
  max-height: 90%;
  margin-top: 15px;
  z-index: 4;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.our_happy_customers__slider_buttons {
  width: fit-content;
  margin: 0 auto;
}


.slider.main {
  z-index: 5;
  margin: 0 auto;
}

.picture{
  display: none;
}

.happy_customers_logo{
  background-color: white;
  margin: 32px 16px 40px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position_h3_section_l{
  margin-bottom: 18px;
}

.center_p{
  text-align: center;
  padding-bottom: 20px;
}

.pos_img_sec_l{
  padding-top: 20px;
  padding-bottom: 12px;
}

.h2_sec_l{
  padding-top: 12px;
  padding-bottom: 5px;
}

.wrapper{
  min-width: 375px;
}

.section_pos_4_l{
  background-color: #5851EA;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  margin-top: 60px;
}

.last_sec_pos{
  padding-top: 60px;
}

.h2_last_sec{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 18px;
}

.p_last_sec{
  text-align: left;
  font-size: 1.9rem;
  margin-bottom: 40px;
  padding-left: 18px;
  padding-right: 7px;
}

.container_2{
  background-color:whitesmoke;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 343px;
  height: 484px;
}

.h3_pos_l {
  padding: 30px 13px 18px 13px;
  text-align: left;
  font-size: 2rem;
}

.img_l_sec{
  object-fit: fill;
}

.a_pos_l{
  font-size: 2rem;
  padding-bottom: -30px;
  padding-left: 18px;
  text-decoration-line: underline;
}

.invisible {
  visibility: hidden;
}

.information {
  background-color: white;
  width: 342px;
  height: 310px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mail_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 45px;
}

.position_mail{
  font-size: 2rem;
}

.main_footer{
  background: url(../images/Rectangle-35.png);
  margin-top: -200px;
}

.footer_1{
  padding-top: 220px;
  margin-left: 16px;
}

.line{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.call_pos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.tel_num_pos{
  font-size: 2rem;
  padding-bottom: 30px;
}

.white_color{
  color: white;
}

.pos_h2_footer{
  margin-top: 60px;
  text-align: left;
  font-size: 3rem;

}

.p_pos_footer{
  padding-top: 5px;
  padding-bottom: 40px;
}

.ul_pos_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 60px;
}

.pos_li_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}

.line_pos_f{
  padding-right: 30px;
}

.h3_footer{
  font-size: 2rem;
  margin-bottom: 11px;
}

.ul_footer_2{
  padding-bottom: 11px;
  font-size: 1.5rem;
}

.padding_h3_f{
  padding-top: 60px;
}

.sub_footer{
  font-size: 1.5rem;
  padding-bottom: 33px;
}

.news_form {
  padding-bottom: 60px;
  position: relative;
  max-width: 323px;
}

.form__text {
  display: none;
  word-break: break-all;
}

.input_email {
  padding: 13px 60px 13px 17px;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  border-style: none;
}

.input_email::placeholder {
  width: 200px
}

.email_button {
  position: absolute;
  padding: 11px 13px;
  text-align: center;
  background-color: var(--blue);
  border-radius: 4px;
  height: 46px;
  width: 48px;
  border-style: none;
  right: 0;
  top: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.copyright_footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 28px;
  gap: 18px;
  justify-content: center;
}

.copyright_icon{
  margin: 0;
}

.copyright_text {
  margin: 0;
}
